@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 700px;
  justify-content: center;

  font-family:'Shadows Into Light', cursive;
  font-size: 25px;
}

.App_list {
  width: 700px;

  margin: 20px 0;

  list-style: none;
  box-shadow: 0 0 10px gray;
}

.App_list-lvl {
  padding: 20px;
}

.App_list-lvl-sign {
  text-align: center;
}

.App_list-lvl-0 {
  background-color: #86E383;
}

.App_list-lvl-1 {
  background-color: #CAE383;
}

.App_list-lvl-2 {
  background-color: #E3D175;
}

.App_list-lvl-3 {
  background-color: #E69E1B;
}

.App_list-lvl-4 {
  background-color: #E65D1B;
}

@media (  max-width: 720px) {

  .App {
    grid-template-columns: 600px;
  }
}

@media (  max-width: 620px) {

  .App {
    grid-template-columns: 500px;
  }
}

@media (  max-width: 520px) {

  .App {
    grid-template-columns: 400px;
  }
}

@media (  max-width: 420px) {

  .App {
    grid-template-columns: 300px;
  }
}

@media (  max-width: 320px) {

  .App {
    grid-template-columns: 200px;
  }
}

@media (  max-width: 220px) {

  .App {
    grid-template-columns: 100px;
  }
}